.display-edu{
    font-size: 1.2rem;
    padding: 1%;
}

button{
    background-color: rgb(250, 16, 16);
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: .5% 1%;
}

button:hover{
    background-color: rgb(211, 33, 33);
    cursor: pointer;
}